@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Prompt:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --border-color: 0.1rem solid #c7a622;
  --circle-border-1: 0.5rem dotted #a14b1a;
  --circle-border-2: 0.5rem dashed #ffbd07;
  --circle-border-3: 1rem double #9b0e0e;
  --circle-border-4: .7rem double #fff;
  --button-border-1: .2rem dotted #fff;
  --background-color: #9b0e0e;
  --color-white: #fff;
  --color-span-text: #aaa;
  --color-green: #006400;
  --color-blue: #0b0888;
  --color-orange: #ff8000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* common style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Prompt', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* main__btn */
.main__btn {
  position: absolute;
  background-color: var(--background-color);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  bottom: 3rem;
  border: var(--button-border-1);
  padding: 0.1rem;

  transform: rotate(45deg);
  overflow: hidden;

}


.main__btn-content {
  width: 100%;
  height: 100%;
  border: .2rem dotted #e7be08;
  border-radius: 50%;
  /* transform: rotate(40deg); */
  transition: transform 0.2s, border 0.2s;
}

.main__btn:hover .main__btn-content {
  transform: rotate(20deg);
  border: var(--background-color);
  transition: transform 0.2s 0.4s, border 0.2s;
}


.main__btn-line {
  position: absolute;
  top: 3rem;
  width: 3rem;
  height: .5rem;
  border: 0.1rem solid #fff;
}

.main__btn-line:nth-child(1) {
  transform: rotateZ(-45deg) translateX(-0.65rem);
  transform-origin: left center;
  border-right: none;
}
.main__btn-line:nth-child(2) {
  transform: rotateZ(45deg) translateX(0.65rem);
  transform-origin: right center;
  border-left: none;

}
.main__btn-line:nth-child(3) {
  transform: rotateZ(90deg) translateX(0.5rem);
  border-left: none;

}

.main__btn span {
  position: absolute;
  color: var(--color-white);
  bottom: 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.ripple {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #e7be08;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  animation: rippleAnimate .5s forwards;
}


@keyframes rippleAnimate {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 300%;
    height: 300%;
  }
  
}
/* End .main__btn */

.section__heading {
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-white);
  text-transform: uppercase;

  position: absolute;
  top: 33%;
  left: 10rem;
  transform: translate(-50%);
  width: 0;
  word-break: break-all;
  line-height: 5rem;
}



/* end common style  */


.mouse__circle {
  width: 6rem;
  height: 6rem;
  border: var(--border-color);

  animation: mouseCircleAnimation 10s infinite linear;
}

@keyframes mouseCircleAnimation {
  0% {
    width: 6rem;
    height: 6rem;
  }
  25% {
    width: 8rem;
    height: 8rem;
  }
  35% {
    width: 4rem;
    height: 4rem;
  }
  70% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6rem;
    height: 6rem;
  }
}


.mouse__dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--background-color);

  animation: mouseDotAnimation 10s infinite linear;
}


@keyframes mouseDotAnimation {
  0% {
    width: .5rem;
    height: .5rem;
  }
  55% {
    width: 1.5rem;
    height: 1.5rem;
  }
  100% {
    width: .5rem;
    height: .5rem;
  }
}


.mouse__circle,
.mouse__dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;

  transform: translate(-50%,-50%);
  opacity: 0;
  pointer-events: none;
}

.page__bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(images/back.jpg) center no-repeat;
  background-size: cover;
}


.section__1 {
  position: relative;
  width: 100%;
  height: 100vh;

}

.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}

.circle {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: red;
  align-self: center;
  justify-self: center;
  opacity: 0.5;

  top: 0;
  left: 0;
  position: relative;
  transition: left 2s, top 2s;
}

.circle__1 {
  background: url(images/cover.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: var(--circle-border-1);
  margin-left: -10rem;
}
.circle__2 {
  background: url(images/b1.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: var(--circle-border-2);
  margin-right: -10rem;
}
.circle__3 {
  background: url(images/b2.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: var(--circle-border-3);
  margin-left: -10rem;
}
.circle__4 {
  background: url(images/b3.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: var(--circle-border-4);
  margin-right: -10rem;
}


.main__circle {
  position: absolute;
  width: 37rem;
  height: 37rem;
  overflow: hidden;
  border-radius: 50%;
  transition: width 2s, height 2s;
}

.main__circle:hover {
  width: 45rem;
  height: 45rem;
}


.main__circle img {
  mix-blend-mode: luminosity;
  top: 0;
  left: 0;
  position: relative;
  transition: left 2s, top 2s;
}


.featured__text {
  font-size: 2rem;
  color: var(--color-white);
  text-transform: uppercase;

  width: 0;
  word-wrap: break-word;
  line-height: 1.8;
  position: sticky;
  top: 0;
}

.featured__text-1 {
  margin: 0 auto 0 10rem;
}

.featured__text-2 {
  margin: 0 10rem 0 auto;
}

/* Progress bar  */
.progress__bar {
  position: fixed;
  width: 6rem;
  height: 6rem;
  background-color: var(--color-white);

  bottom: 3rem;
  right: 8rem;
  border-radius: 50%;

  z-index: 200;
  overflow: hidden;

}

.progress__bar_circle {
  width: 5.5rem;
  height: 5.5rem;
  background-color: #000;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 3rem;
  z-index: 200;
}

/* .progress__bar:hover .half__circle:nth-child(1) {
  transform: rotate(180deg);
  transition: transform 1s linear;
}

.progress__bar:hover .half__circle:nth-child(2) {
  transform: rotate(360deg);
  transition: transform 2s linear;
}

.progress__bar:hover .half__circle_top {
  opacity: 0;
  transition: opacity 0s 1s;
}
 */


.half__circle,
.half__circle_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

  transform-origin: right center;
}

.half__circle:nth-child(1) {
  background-color: var(--background-color);
}

.half__circle:nth-child(2) {
  background-color: var(--background-color);
}

.half__circle_top {
  background-color: var(--color-white);
}


/* End of Progress bar  */


/* Navigation */
.navbar {
  position: fixed;
  top: 2.5rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 3rem;
  z-index: 100;
  
  transition: opacity .6s, visibility .6s, transform .6s;

}

.hide__navbar {
  opacity: 0;
  visibility: hidden;
  transform: translateX(10rem);
}

.navbar__link {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
  margin:  0 2.5rem;
  text-shadow: 0 0.3rem 0.5rem #000;
}

.menu__icon {
  position: fixed;
  width: 12rem;
  height: 7rem;
  top: 0;
  right: 5rem;
  flex-direction: column;

  z-index: 100;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;

  transform: opacity .3s;
}

.show__menu__icon {
  opacity: 1;
  visibility: visible;
}

.menu__icon_line {
  width: 3rem;
  height: 0.2rem;
  background-color: var(--color-white);
  margin: 0.5rem 0;
  box-shadow: 0 0.3rem 0.5rem #000;
}

/* End of Navigation */


.section__2 {

  position: relative;
  padding: 10rem 10rem 15rem 10rem;

}

.aboutme__text {
  width: 80%;
  margin: auto;
}

.aboutme__text span {
  font-family: 'Prompt', sans-serif;
  font-size: 10rem;
  font-weight: bold;
  color: var(--color-span-text);
  letter-spacing: 0.5rem;
  line-height: 10rem;
  text-shadow: 0 0 1rem #9b0e0e;
  position: relative;
  mix-blend-mode: color-dodge;
}

@keyframes AboutMeTextAnimation {
  0% {
    color: var(--color-span-text);
    top: 0;
  }
  10%,
  90% {
    color: var(--color-white);
    top: 2rem;
  }
  100% {
    color: var(--color-span-text);
    top: 0;
  }
  
}

/* =========== Section 2  ==================================== */


.section__2 .main__btn {
  left: 50%;
  bottom: -5rem;
  transform: translateX(-50%);
  transform: rotate(45deg);

}
/* =========== End Section 2  ==================================== */

/* Section 3  ================================================ */

.section__3 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  margin-top: 10rem;
  position: relative;

}

.projects {
  flex-wrap: wrap;
  padding-bottom: 15rem;
}

.project {
  width: 40rem;
  height: 45rem;
  overflow: hidden;
  margin: 5rem;
  background-color: #000;

  display: flex;
  justify-content: center;
  position: relative;
  border: .2rem dotted #9b0e0e;
  border-radius: .5rem;
  cursor: pointer;

  perspective: 20rem;
  transition: opacity .5s;
}

.project img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  top: 2rem;
  opacity: 0.5;

  transition: top 4s 0.2s, opacity 0.2s;
}

.project:nth-child(odd):hover img {
  animation: oddImgAnimation 4s 0.2s;
  opacity: 1;
}

@keyframes oddImgAnimation {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(-2deg) rotateX(2deg);
  }
  50% {
    transform: rotateY(2deg) rotateX(-2deg);
  }
  100% {
    transform: rotateY(0);
  }
  
}


.project:nth-child(even):hover img {
  animation: evenImgAnimation 4s 0.2s;
  opacity: 1;
}

@keyframes evenImgAnimation {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(2deg) rotateX(-2deg);
  }
  50% {
    transform: rotateY(-2deg) rotateX(2deg);
  }
  100% {
    transform: rotateY(0);
  }
  
}

.project__img_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);

  overflow: hidden scroll;

  animation: imgWrapperAnimate 1s forwards;

}

@keyframes imgWrapperAnimate {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
  
}

.project__img {
  width: 100%;
  border-radius: 0.5rem;
  padding: 7rem 20rem;
  opacity: 0.9;

  transform-origin: top center;

  animation: imgAnimate 1s 1s both;
}

@keyframes imgAnimate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
  
}

.project__hide_btn {
  position: fixed;
  top: 5rem;
  right: 5rem;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  font-size: 2rem;
  letter-spacing: .1rem;
  cursor: pointer;
  z-index: 10;
  transform: scale(0);
  visibility: hidden;

}

.change.project__hide_btn {
  transform: scale(1);
  visibility: visible;
  transition: transform 0.5s;
}

.projects__btn {
  left: 50%;
  /* transform: translateX(-50%); */
  transform: rotate(45deg);

}

.projects__btn .main__btn-line {
  transition: all .5s;
}

.change > .main__btn-line:nth-child(1) {
  transform: rotateZ(45deg) translateX(-0.65rem);
}
.change > .main__btn-line:nth-child(2) {
  transform: rotateZ(-45deg) translateX(0.65rem);
}
/* .change > .main__btn-line:nth-child(3) {
  transform: rotateZ(90deg) translateX(-0.5rem);
  border-left: 0.1rem solid #fff;
  border-right: none;
} */

/* =================== End of section 3 ============================= */


/* =================== section 4 ============================= */
.section__4 {
  position: relative;
  width: 100%;
}

.services__wrapper {
  width: 100%;
  flex-direction: column;
}

.service {
  width: 70%;
  margin: 2rem 0;
  border-bottom: .5rem solid var(--background-color);

}

.service__btn {
  width: 100%;
  position: relative;
  display: block;
  height: 8rem;
}

.service__btn span {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  font-style: italic;
  font-weight: bold;
  color: var(--background-color);
  position: absolute;
  right: 0;
  transition: right .5s;
}

.service__text {
  font-size: 3.5rem;
  color: var(--color-span-text);
  letter-spacing: .1rem;
  height: 0;
  /* height: 12rem; */
  visibility: hidden;
  opacity: 0;

  transition: all .2s;
}

.change.service__text {
  height: 12rem;
  visibility: visible;
  opacity: 1;

  transition: height .5s, opacity .5s .5s;
}
/* =================== End of section 4 ============================= */


/* =================== section 5 ============================= */
.section__5 {
  position: relative;
  height: 170vh;
  flex-direction: column;
}

.form__heading {
  font-family: "Poppins",sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: var(--background-color);
  letter-spacing: .3s;
  margin-bottom: 3rem;
  transition: opacity 0.3s;
}

.contact__form {
  flex-direction: column;
}

.contact__form_input {
  width: 60rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgba(255,255,255,0.1);
  border: 0.1rem solid var(--background-color);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-span-text);
  letter-spacing: .1rem;
  height: 5rem;

}

.contact__form_textarea {
  height: 20rem;
  resize: none;
}

.form__submit_btn {
  width: 20rem;
  height: 5rem;
  background-color: var(--background-color);
  border: none;
  columns: var(--color-white);
  font-size: 1.8rem;
  align-self: flex-start;
}

.slideshow {
  display: flex;
  width: 40rem;
  margin-top: 8rem;
  padding: 0 2rem;
}

.slideshow__link {
  width: 20%;
  filter: brightness(.3);
  transition: filter 1.5s;
}

.slideshow__link:nth-child(1),
.slideshow__link:nth-child(5) {
  transition: width .5s,
  opacity .5s;
}

.slideshow__link:nth-child(3) {
  transition: filter 0.5s;
}

.slideshow__link img {
  width: 100%;
  padding: 0 1rem;
}

.faded__out {
  opacity: 0;
  width: 0;
}

.light {
  filter: brightness(1.5);
}

/* =================== End of section 5 ============================= */